
/NitroEncryptedModulesDemo/.settings
/NitroEncryptedModulesDemo/bin-release
/NitroEncryptedModulesDemo/bin-debug
/nitrolm-air/bin
/nitrolm-air/build-ane
/nitrolm-air-comp/.settings
/nitrolm-air-comp/bin
/nitrolm-air/.settings
*.pfx
.DS_Store
